* {
    margin: 0;
    padding: 0;
    /* font-family: poppins sans-serif;
    box-sizing: border-box; */
}
.logo{
    width: 110px;
    padding: 0px 10px;
}
.menu-container{
    background-color: black;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menus{
    display: flex;
}
.menu{
    margin: 10px;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}
.menu:hover{
    color: crimson;
}
.banner-img{
    width: 400px;
}
.banner-container{
    display: flex;
    padding: 30px;
    justify-content: space-around;
    height: 100vh;
    align-items: center;
    background-color: #262626;
    color: #fff;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.title{
    font-family: poppins sans-serif;
    font-size: 55px;
    font-weight: bold;
}
.paragraph{
    font-family: poppins sans-serif;
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.btn{
    padding: 10px 20px;
    background-color: #C41A21;
    color: #fff;
    border: none;
    border-radius: 2px;
    position: absolute;
    right: 850px;
}
.btn:hover{
    background-color: #d7191f;
}

/* This is about section */

.about-container{
    display: flex;
    justify-content: space-around;
    height: 100vh;
    align-items: center;
    background-color: #36454b;
    color: #fff;
}
.about-us{
    font-size: 55px;
    padding: 10px 140px;
    
}
.Contact-button{
    padding: 10px 20px;
    background-color: #C41A21;
    color: #fff;
    border: none;
    border-radius: 2px;
    position: absolute;
    right: 310px;
}
.Contact-button:hover{
    background-color: #d7191f;
}