* {
    margin: 0;
    padding: 0;
    /* font-family: poppins sans-serif;
    box-sizing: border-box; */
}
.logo{
    width: 110px;
    padding: 0px 10px;
}
.menu-container{
    background-color: black;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menus{
    display: flex;
}
.menu{
    margin: 10px;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}
.menu:hover{
    color: crimson;
}
.banner-img{
    width: 300px;
}
.banner-container{
    display: flex;
    justify-content: space-around;
    height: 100vh;
    align-items: center;
    background-color: grey;
}